<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRepairShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/eb88cc226a.js" crossorigin="anonymous"></script>
</head>

<body>
<div th:replace="fragments/navbar"></div>
<div class="container">
    <div class="card w-50 mt-5 m-auto">
        <div class="card-header">
            <div class="row mx-2">
                <div class="col">
                    <h2 th:text="${customer.name}+'\'s details'"></h2>
                </div>
                <div class="col text-end">
                    <a class="btn btn-primary" th:href="@{/customers/edit/{id}(id=${customer.id})}" role="button">
                        Edit Details</a>
                    <a class="btn btn-danger" th:href="@{/customers/delete/{id}(id=${customer.id})}" role="button">
                        Delete Customer</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="px-5">
                        <h6>Name:</h6>
                        <h3 th:text="${customer.name}"></h3>
                        <br>
                        <h6>E-mail:</h6>
                        <h3 th:text="${customer.email}"></h3>
                        <br>
                        <h6>Phone Number:</h6>
                        <h3 th:text="${customer.phone}"></h3>
                        <br>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="accordion" id="device-repairorder">
                        <div class="accordion-item">
                            <!-- TODO:  second level customers's devices in accordion -->
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Devices
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#device-repairorder">
                                <div class="accordion-body">
                                    <ul>
                                        <li th:each="d:${customer.devices}">
                                            <a th:text="${d.serialNumber}" th:href="@{/devices/{id}(id=${d.id})}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <!-- TODO:  third level customers's repair orders in accordions -->
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Repair Orders
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#device-repairorder">
                                <div class="accordion-body">
                                    <ul>
                                        <li th:each="r:${customer.repairOrders}">
                                            <a th:text="${r.id}" th:href="@{/repairOrders/{id}(id=${r.id})}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>

</html>